<!DOCTYPE html>
<html>
  <head>
    <title>Discord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Discord Clone" />
    <meta name="title" property="og:title" content="Discord Clone" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://github.com/KevinHJo/DiscordClone/blob/main/app/assets/images/y1ostvqnr4711.jpg?raw=true" />
    <meta name="description" property="og:description" content="Discord Clone" /><meta name="author" content="Kevin Jo" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c43424a8d5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
